# Default values for kibana.
image:
  repository: docker.elastic.co/kibana/kibana
  tag: "8.11.0"
  pullPolicy: IfNotPresent

nameOverride: "kibana"

serviceAccount:
  create: true
  annotations: {}
  name: ""

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "100m"
  hosts:
    - host: kibana.example.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: kibana-tls
      hosts:
        - kibana.example.com

env:
  ELASTICSEARCH_URL: http://elasticsearch:9200

resources:
  requests:
    cpu: 100m
    memory: 1Gi
  limits:
    cpu: 500m
    memory: 2Gi

zeroTier:
  networkID: "abcdef0123456789"

service:
  type: ClusterIP
  port: 5601

tolerations: []
affinity: {}
nodeSelector: {}
