# deployment.yaml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: filebeat
spec:
  selector:
    matchLabels:
      app: filebeat
  template:
    metadata:
      labels:
        app: filebeat
    spec:
      containers:
      - name: filebeat
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        volumeMounts:
        - name: config
          mountPath: /usr/share/filebeat/filebeat.yml
          subPath: filebeat.yml
        - name: config
          mountPath: /usr/share/filebeat/filebeat.docker.yml
          subPath: filebeat.docker.yml
        - name: modules
          mountPath: /usr/share/filebeat/modules.d/
        {{- range $index, $element := .Values.extraVolumeMounts }}
        - name: {{ $element.volumeMount.name }}
          mountPath: {{ $element.volumeMount.mountPath }}
          subPath: {{ $element.volumeMount.subPath }}
          readOnly: {{ $element.volumeMount.readOnly }}
        {{- end }}
      volumes:
      - name: config
        configMap:
          name: filebeat-config
      - name: modules
        configMap:
          name: filebeat-modules
        {{- range $index, $element := .Values.extraVolumes }}
      - name: {{ $element.volume.name }}
        {{- if eq $element.volume.type "configMap" }}
        configMap:
          name: {{ $element.volume.configMapName }}
        {{- else if eq $element.volume.type "hostPath" }}
        hostPath:
          path: {{ $element.volume.hostPath }}
        {{- end }}
        {{- end }}
