image:
  repository: mitre/attack-navigator
  tag: latest

serviceAccount:
  create: true
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

service:
  type: ClusterIP
  port: 80

env:
  - name: ATTACK_NAVIGATOR_BASE_URL
    value: "/attack-navigator"

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
  hosts:
    - host: attack-navigator.example.com
      paths:
        - path: /attack-navigator(/|$)(.*)
          pathType: ImplementationSpecific
