image:
  repository: elasticsearch/curator
  tag: 5.8.1

serviceAccount:
  create: true
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

service:
  type: ClusterIP
  port: 9200

ingress:
  enabled: false

config:
  action_file: /config/action.yml
  filters_file: /config/filters.yml
  vars_file: /config/vars.yml
  logging:
    loglevel: INFO
    logformat: default
  timezone: UTC
  client:
    hosts:
      - http://elasticsearch-master:9200
    timeout: 30
    master_only: false

schedule:
  cron: "0 */6 * * *"
  timezone: UTC
