# deployment.yaml for Grafana
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "grafana.fullname" . }}
  labels:
    app: {{ include "grafana.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "grafana.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "grafana.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: GF_SERVER_HTTP_PORT
              value: "3000"
            - name: GF_SERVER_DOMAIN
              value: {{ .Values.grafana.ini.server.domain | quote }}
            - name: GF_SERVER_ROOT_URL
              value: {{ .Values.grafana.ini.server.root_url | quote }}
            - name: GF_SERVER_SERVE_FROM_SUB_PATH
              value: {{ .Values.grafana.ini.server.serve_from_sub_path | quote }}
            - name: GF_USERS_ALLOW_SIGN_UP
              value: {{ .Values.grafana.ini.users.allow_sign_up | quote }}
            - name: GF_AUTH_DISABLE_LOGIN_FORM
              value: {{ .Values.grafana.ini.auth.disable_login_form | quote }}
          volumeMounts:
            - name: grafana-datasources
              mountPath: /etc/grafana/provisioning/datasources
            - name: grafana-dashboards
              mountPath: /etc/grafana/provisioning/dashboards
            - name: grafana-custom-ini
              mountPath: /etc/grafana/grafana.ini
              subPath: grafana.ini
      volumes:
        - name: grafana-datasources
          configMap:
            name: {{ include "grafana.fullname" . }}-datasources
        - name: grafana-dashboards
          configMap:
            name: {{ include "grafana.fullname" . }}-dashboards
        - name: grafana-custom-ini
          configMap:
            name: {{ include "grafana.fullname" . }}-custom-ini
