## Default values for elasticsearch.
##
image:
  repository: docker.elastic.co/elasticsearch/elasticsearch
  tag: 8.11.0
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 512Mi

service:
  type: ClusterIP
  port: 9200

network:
  zerotierNetworkId: "zerotier_network_id"
  zerotierToken: "zerotier_api_token"

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/proxy-body-size: "100m"
  hosts:
    - host: elasticsearch.example.com
      paths:
        - path: /elasticsearch
          pathType: ImplementationSpecific
